.pages-authorize {
  display: flex;
  flex-direction: row;
}

.pages-authorize > p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-dark);
}
.pages-authorize > p > img {
  margin-right: 0.5rem;
}
