/* root */
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border-radius: 0.2rem;
  background-color: var(--white);
  border: 1px solid var(--grey);
}

/* states */
.button:hover {
  border: 1px solid var(--black);
}

.button img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}
