.pages-home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pages-home > .cta {
  margin-top: 1rem;
  max-width: 12rem;
}
.pages-home > .cta > a {
  display: block;
  margin-bottom: 1rem;
}
.pages-home > .cta > a > button {
  width: 100%;
}
